.DS_Store
Day 2/.ipynb_checkpoints/2. Iris example-checkpoint.ipynb
Day 2/.ipynb_checkpoints/3. exercises-checkpoint.ipynb
Day 2/.ipynb_checkpoints/3. exercises_answer-checkpoint.ipynb
Day 3/.ipynb_checkpoints/1. TED talks example+answer-checkpoint.ipynb
Day 3/.ipynb_checkpoints/1. TED talks example-checkpoint.ipynb
Day 3/.ipynb_checkpoints/2. football example-checkpoint.ipynb
Day 3/.ipynb_checkpoints/3. Bank customer churn (additional)-checkpoint.ipynb
Day 3/events.csv
Day 3/.ipynb_checkpoints/3_3. Dataframe exercises-checkpoint.ipynb
Day 1/.ipynb_checkpoints/1_3 제어문, 함수 보충(additional)-checkpoint.ipynb
Day 1/.ipynb_checkpoints/1_2. quiz with blank-checkpoint.ipynb
Day 10/.ipynb_checkpoints/10_1.Deep_Learning_Structure-checkpoint.ipynb
Day 2/.ipynb_checkpoints/2_2. exercises-checkpoint.ipynb
Day 3/.ipynb_checkpoints/3_1. TED talks example-checkpoint.ipynb
Day 3/.ipynb_checkpoints/3_2. Data exploration with Iris dataset-checkpoint.ipynb
Day 3/.ipynb_checkpoints/3_4. Bank customer churn (additional)-checkpoint.ipynb
Day 2/.ipynb_checkpoints/2_2. exercises-checkpoint.ipynb
Day 3/.ipynb_checkpoints/3_3. Dataframe exercises-Copy1-checkpoint.ipynb
Day 2/.ipynb_checkpoints/2_1. numpy&pandas-checkpoint.ipynb
Day 2/.ipynb_checkpoints/2_2. exercises-checkpoint.ipynb
Day 3/.ipynb_checkpoints/3_5. Football events (additional)-checkpoint.ipynb
Day 2/.ipynb_checkpoints/2_2. exercises-checkpoint.ipynb
Day 2/.ipynb_checkpoints/2_1. numpy&pandas-checkpoint.ipynb
