.DS_Store
Day 2/.ipynb_checkpoints/2. Iris example-checkpoint.ipynb
Day 2/.ipynb_checkpoints/3. exercises-checkpoint.ipynb
Day 2/.ipynb_checkpoints/3. exercises_answer-checkpoint.ipynb
Day 3/.ipynb_checkpoints/1. TED talks example+answer-checkpoint.ipynb
Day 3/.ipynb_checkpoints/1. TED talks example-checkpoint.ipynb
Day 3/.ipynb_checkpoints/2. football example-checkpoint.ipynb
Day 3/.ipynb_checkpoints/3. Bank customer churn (additional)-checkpoint.ipynb
Day 3/events.csv
