
Day 2 (빅데이터)/.ipynb_checkpoints/Exercises-checkpoint.ipynb
Day 2 (빅데이터)/.ipynb_checkpoints/Exercises_answer-checkpoint.ipynb
Day 2 (빅데이터)/.ipynb_checkpoints/Iris examples-checkpoint.ipynb
Day 1 (빅데이터)/.ipynb_checkpoints/python basic-checkpoint.ipynb
Day 1 (빅데이터)/.ipynb_checkpoints/quiz_answer-checkpoint.ipynb
Day 3 (빅데이터)/.ipynb_checkpoints/1. TED talks example+answer-checkpoint.ipynb
Day 3 (빅데이터)/.ipynb_checkpoints/1. TED talks example-checkpoint.ipynb
Day 3 (빅데이터)/.ipynb_checkpoints/3. Bank customer chrun (additional)-checkpoint.ipynb
